p {
    text-align: center;
}
.header  {
    padding: 33px 0;
}
.aside  {
    padding: 70px 0;
}
.box c , .box d {
    padding: 55px 0;
}
.box e , .box f , .box g , .box h  {
    padding: 120px 0;
}
.footer  {
    padding: 30px 0;
}

@media(min-width: 768px) {
    .header {
        padding: 38px 0;
    }
    .aside {
        padding: 270px 0;
    }
    .box c , .box d {
        padding: 95px 0;
    }
    .footer p {
        padding: 65px 0;
    }  
}